<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Phpunit" type="PHPUnitRunConfigurationType" factoryName="PHPUnit">
    <CommandLine>
      <PhpTestInterpreterSettings>
        <option name="interpreterName" value="fitme_app:latest" />
      </PhpTestInterpreterSettings>
    </CommandLine>
    <TestRunner configuration_file="/opt/project/phpunit.xml" scope="XML" />
    <method v="2" />
  </configuration>
</component>